.table-box{

margin-top:35px;

background:#1e293b;

padding:25px;

border-radius:18px;

}

.table-box h2{

margin-bottom:20px;

color:white;

}

table{

width:100%;

border-collapse:collapse;

}

th{

text-align:left;

padding:18px;

color:#94a3b8;

font-weight:600;

}

td{

padding:18px;

color:white;

border-top:1px solid rgba(255,255,255,.08);

}

.present{

color:#22c55e;

font-weight:bold;

}

.absent{

color:#ef4444;

font-weight:bold;

}